.g3tr {
  cursor:pointer;
  display:flex;
  width:100%;
}
.g3tr > h2 {
  margin: 1.8rem 0 ;
  width: fit-content;
  line-height:100%;
} 

.ad3fd {
  position:relative;
  width:100px;
  height:auto;
}

/* .kuh4 > h2 {
  font-size:3rem !important;
} */

.default {
  position: absolute;
  top: 50%;
  transform: translate(0%,-50%);
  font-size: 3rem; 
  line-height: 3rem;
  width:fit-content ;
  opacity:0;
  color:var(--gold-text);
  transition:0.2s;
}
.TextSeeMore {
  width: max-content;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-style: italic; 
  margin: 0;
  opacity:0;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translate(10px,-50%);
  transition:0.5s;
  
}

/* .kuh4:hover .default {
opacity:1;
transition:0.2s;
} */

.moveicon {
 

animation-name: ikguy;
animation-duration:750ms;
animation-timing-function: cubic-bezier(0.075, 0.820, 0.165, 1.000);
animation-fill-mode: forwards;
}
@keyframes ikguy {
  0% {
    opacity:0;
  }
  10% {
  
    opacity:1;
    transform: translate(-5px,-50%);
  }
  100% {

    transform: translate(169px,-50%);
    opacity:1;  
  }
}
.movetext {
  opacity:1;
  transition:0.8s;
  transform: translate(20px,-50%);
  transition-delay:100ms;
}
  
