.page404 {
    height:88vh;
 display:flex;
 background-color:#131411;
position:relaitive;
}
.page404 .o89yh654 {
  height:70vh;
  margin:auto;
}

/* 
.sfda43 {
    display:flex;
    margin:auto;
    flex-direction: column;
}
.sfda43 > h2{
   margin:0 auto;
   font-weight:bold;
}
.sfda43 > h2:nth-child(1) {
   font-size:10rem;
  
} 
 */
